@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 100%;
    }
    .cancelbtn, .signupbtn {
        width: 100%;
    }
}